body {
  padding-top: 50px;
  padding-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  cursor: pointer;
}

.hero {
  background-image: url('../images/ndoch2016working.png');
  background-size: cover;
  background-position: center;
  padding-top: 40px;
}

.hero .container {
  background: rgba(0, 0, 0, 0.75);
  padding-top: 10px;
  border-radius: 10px;
}
.responsive-img {
  max-width: 100%;
}

.hero p {
  color: #ffffff;
  font-size: 1.25em;
}

.hero-event-overview {
  margin-top: 25%;
  padding: 10px 20px;
  background: #000;
}

.hero-event-date {
  margin-top: 10px;
}

.eventbrite-registration {
  margin-top: 10px;
}

.hero-event-date > * {
  margin-right: 0;
  margin-bottom: 10px;
  display: table;
  padding-left: 10px;
  padding-right: 10px;
}

.hero a {
  color: #ffffff;
}

.content-panel {
  padding: 20px;
  font-size: 1.25em;
}

.content-panel p {
  margin-bottom: 20px;
}

.content-panel-header {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
}

.event-info {
  background-color: #595759;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}

.event-info-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.event-details {
  margin-right: 20px;
}

.event-details h3 {
  border-bottom: #fff solid 1px;
  margin-top: 0;
  padding-bottom: 5px;
}

.projects {
  background: #274242;
  color: #ffffff;
  padding-top: 20px;
}

.collapsible-panel {
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.collapsible-panel .collapsible-panel-inner a {
  color: #106B6D;
}

.collapsible-panel .header {
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
  background: #ffffff;
  border-bottom: #eee solid 1px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  cursor: pointer;
}

.collapsible-panel .header .toggler {
  margin-left: auto;
  -ms-flex-item-align: center;
      align-self: center;
}

.collapsible-panel-inner {
  display: none;
}

.collapsible-panel-content {
  display: none;
  padding: 10px;
  flex-grow: 1;
  flex-shrink: 0;
}

.collapsible-panel-footer {
  background: #f2f2f2;
  padding: 10px;
  border-top: #eee solid 1px;
  display: flex;
  align-items: center;
}

.collapsible-panel-extended .collapsible-panel-inner {
  display: block;
}

.toggler {
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  -o-transition: transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
}

.collapsible-panel-extended .toggler {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.collapsible-panel-content {
  display: block;
}

.project-communication-links > * {
  margin-right: 10px;
}

.project-communication-links > *:last-child {
  margin-right: 0;
}

.project-communication-links {
  margin-left: auto;
}

.sponsors-container a {
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-panel q {
  font-size: 2em;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.attendee-profiles figure {
  text-align: center;
  padding: 20px;
  color: #595759;
}

.attendee-profiles figure img {
  cursor: pointer;
}

.attendee-profiles figure figcaption {
  display: none;
}

footer {
  background: #f2f2f2;
  color: #000000;
  border-top: #eee solid 1px;
  padding: 10px;
}

@media (min-width: 550px) {
  .collapsible-panel-inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .collapsible-panel-content {
    display: block;
  }

  .collapsible-panel .header {
    cursor: default;
  }

  .collapsible-panel .header .toggler {
    display: none;
  }

  .event-info-container {
    flex-direction: row;
  }

  .hero {
    font-size: 1.25em;
  }

  .hero-event-date > * {
    display: inline-block;
    margin-right: 20px;
  }

  .projects-container,
  .sponsors-container,
  .attendee-profiles-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    > * {
      width: 33%;
    }
  }

  .projects-container > *,
  .sponsors-container > *,
  .attendee-profiles-container > * {
    width: calc(50% - 5px);
  }
}

@media(min-width: 768px) {
  .projects-container > *,
  .sponsors-container > *,
  .attendee-profiles-container > * {
    width: calc(33.33% - 5px);
  }
}
