 	<!-- FOOTER -->
{% if page.is_nocd_2015 %}
  <div class="footer">
    <p class="pull-right">HACK KC presenters and participants are held to this <a href="{{ site.baseurl }}/hackkc-code-of-conduct">anti-harassment policy.</a></p>
  </div>
{% else %}
  <div class="footer">
    <p class="pull-right">Code for Kansas City | <a href=""><i class="icon-github"></i> Pull requests welcome!</a></p>
  </div>
{% endif %}

</div><!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ICanHaz.js/0.10.3/ICanHaz.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
{% for script in page.scripts %}
  <script src="{{ site.baseurl }}/js/{{script}}"></script>
{% endfor %}
