<!-- NAVBAR
================================================== -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">Code for Kansas City</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a href="{{ site.baseurl }}/welcome">Welcome/Resources</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Events
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a target="_blank" href="/hackkc2017/">Hack KC 2017</a></li>
                        <li><a target="_blank" href="http://www.meetup.com/kcbrigade/">Weekly Meetups</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Past Events
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ site.baseurl }}/Report-Out-Recruitment-2016">Report Out and Recruitment</a></li>
                        <li><a href="{{ site.baseurl }}/hackkc">HackKC 2016</a></li>
                        <li><a href="{{ site.baseurl }}/codeacross2016">CodeAcross</a></li>
                        <li><a href="http://www.kcdigitaldrive.org/project/hack-kansas-city-the-national-day-of-civic-hacking/" target="_blank">HackKC 2015</a></li>
                        <li><a href="http://www.kcdigitaldrive.org/article/code-across-kc-hacking-for-a-healthier-community/" target="_blank">Code Across KC 2016</a></li>
                        <li><a href="http://www.kcdigitaldrive.org/article/get-your-community-websites-apps-tested-by-kcs-first-civic-ux-group/" target="_blank">KC Civic UX Group</a></li>
                        <li><a href="http://www.kcdigitaldrive.org/article/tech-volunteers-needed-grow-your-tech-skills-and-help-your-neighbors-at-code-for-kc/" target="_blank">Tech Volunteers Needed</a></li>
                    </ul>
                </li>

                <!-- <li><a href="{{ site.baseurl }}/blog">Blog</a></li> -->
                <li><a href="{{ site.baseurl }}/code-of-conduct">Code of Conduct</a></li>
                <li><a target="_blank"
                       href="https://docs.google.com/forms/d/1mRZJld_CPvCcS-WxhI3aDNRO9Fkpm0zK8dlpczG5i_4/viewform?c=0&w=1">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/codeforkansascity" title="GitHub"><i class="fa fa-github fa-lg"></i></a>
                </li>
                <li><a href="http://meetup.com/kcbrigade" title="Meetup"><i class="fa fa-users fa-lg"></i></a></li>
                <li><a href="https://twitter.com/codeforkc" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a></li>
                <li><a href="http://eepurl.com/7gbQP" title="Mailing List"><span class="glyphicon glyphicon-envelope"
                                                                                 aria-hidden="true"></span></a></li>
                <li><a href="https://codeforkc.slack.com" title="Slack"><i class="fa fa-slack fa-lg"></i></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
